@inherits LayoutComponentBase

<div class="container-fluid backgroundcolor" dir="ltr">
	<HeaderComponent></HeaderComponent>
	@*	<Crm.FrontEnd.Blazor.Pages.CultureSelector />*@
	<div>
		@Body
	</div>
	<FooterComponent></FooterComponent>
</div>

