@inherits LayoutComponentBase
@using Shared.Components.Navbar;

<div class="container-fluid backgroundcolor">
	<HeaderComponent></HeaderComponent>
	<div >
		@Body
	</div>
	<FooterComponent></FooterComponent>
</div>