@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="container-fluid backgroundcolor">
	<HeaderComponent></HeaderComponent>
	<div >
		@Body
	</div>
	<FooterComponent></FooterComponent>
</div>

@code {
	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		var userCulture = authState.User.Claims
		.FirstOrDefault(x => x.Type == System.Security.Claims.ClaimTypes.Locality)?.Value ?? "en-US";

		var userUICulture = authState.User.Claims
				.FirstOrDefault(x => x.Type == "CurrentUICulture")?.Value ?? "en-US";

		var cultureInfo =
				new System.Globalization.CultureInfo(name: userCulture);
		var cultureUIInfo =
				new System.Globalization.CultureInfo(name: userUICulture);

		System.Threading.Thread.CurrentThread.CurrentCulture = cultureInfo;
		System.Threading.Thread.CurrentThread.CurrentUICulture = cultureUIInfo;

	}
}