################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/apps/Leads/bin/Debug/net7.0
/apps/Leads/obj
/Crm.FrontEnd.Blazor/bin/Debug/net7.0
/Crm.FrontEnd.Blazor/obj
/Crm.FrontEnd.Blazor/wwwroot/libs/bootstrap-icons/icons
