@page "/leads"
@using Leads.Components;
@using Leads.Models.Leads;

@inject NavigationManager navigationManager

<CustomPageHeader OnAddClick="NavigateToCreate" OnRefreshClick="Refresh">

	<h3>@(Resources.DataDictionary.Leads)</h3>

</CustomPageHeader>

<LeadsGrid @ref="_leadsGrid"></LeadsGrid>


@code {

	private  LeadsGrid? _leadsGrid;

	private string TextValue;
	private IQueryable<LeadsViewModel> leads;

	private bool isopen = false;
	private void NavigateToCreate()
	{
		navigationManager.NavigateTo("/leads/create");
	}

	private async Task Refresh()
	{
		if (_leadsGrid is not null)
		{
			await _leadsGrid.GetLeadsAsync();
		}
	}
}
