@inject NavigationManager navigationManager

<div class="container-fluid">
	<div class="row pt-3">
		<div class="col-1 p-3 mb-5  rounded-5">
			<a class="navbar-brand" href="#">
				<img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt=""
					 width="50" height="40" class="d-inline-block align-text-top">
			</a>
		</div>
		<div class="col-10 shadow-sm p-3 mb-5 rounded header-bg-color">
			<div class="row">
				<div class="col-1 text-center">
					<BitIconButton OnClick="NavToHome" IconName="BitIconName.WaffleOffice365" Style="font-size:2rem;margin: .5rem 1rem;" AriaHidden="true" />
				</div>
				<div class="col-10 text-center">
					@if (_toggleSearch)
					{
						<BitTextField Class="mt-2" Placeholder="Type And Press Enter...."></BitTextField>
					}
					else
					{
						<BitMenuButton OnClick="NavToLeads" Class="mt-2" Text="Leads" IconName="BitIconName.SchoolDataSyncLogo" ButtonStyle="BitButtonStyle.Standard" />
						<BitMenuButton Class="mt-2" Text="Contacts" IconName="BitIconName.Add" ButtonStyle="BitButtonStyle.Standard" />
						<BitMenuButton Class="mt-2" Text="Accounts" IconName="BitIconName.Add" ButtonStyle="BitButtonStyle.Standard" />
						<BitMenuButton Class="mt-2" Text="Leads" IconName="BitIconName.Add" ButtonStyle="BitButtonStyle.Standard" />
						<BitMenuButton Class="mt-2" Text="Leads" IconName="BitIconName.Add" ButtonStyle="BitButtonStyle.Standard" />
						<BitMenuButton Class="mt-2" Text="Leads" IconName="BitIconName.Add" ButtonStyle="BitButtonStyle.Standard" />
					}

				</div>
				<div class="col-1 text-center">
					<BitIconButton OnClick="ToggleSearchText" IconName="BitIconName.Search" Style="font-size:1rem;margin-top: 0.35rem;" AriaHidden="true" />
				</div>

			</div>
		</div>
		<div class="col-1">
			@*<LoginDisplay />*@
		</div>
	</div>
</div>


@code {

	private bool _toggleSearch = false;
	private void ToggleSearchText()
	{
		if (_toggleSearch)
		{
			_toggleSearch = false;
		}
		else
		{
			_toggleSearch = true;
		}
	}

	private void NavToLeads()
	{
		navigationManager.NavigateTo("/leads");
	}

	private void NavToHome()
	{
		navigationManager.NavigateTo("/");
	}
}
