
<div class="vh-100 d-flex   align-items-center justify-content-center gap-3">
	<img src="Images/Auth/Authorizing.svg" height="250px" width="250px" />
	<div class="h2">You Are At Home</div>
</div>
@code {

}
