@import url("../../fonts/Vazirmatn-UI-font-face.css");

body {
	font-family: Vazirmatn UI !important;
}

h1, h2, h3, h4, h5, h6, input, textarea {
	font-family: Vazirmatn UI !important;
}

h1 {
	font-weight: bold !important;
}

.ltr {
	direction: ltr;
}

.form-check-input[disabled] ~ .form-check-label, .form-check-input:disabled ~ .form-check-label {
	opacity: 1 !important;
}

div.tox {
	font-family: Vazirmatn UI !important;
}